<html>
<head>
<meta http-equiv="Content-Type" content="text/html;CHARSET=UTF-8">

</head>
	<body>
	<center>
	<img src="cid:rid1" >
	</center>


		
		
		<table style="background:#0078A3; text-align: center; " width="100%">
		<tr >
		<td width="50%" style="color:  #fff ;font-size: x-large;" > NFC Portal :: Welcome in Portal 
		</td> 
		

		<td width="50%"  style="color:  #fff ;font-size: x-large;">بوابة الشركة الوطنية للعبارات
		</td>
		
		</tr>
		</table>
		
		
		<table>
		<tr>
		<td  width="50%" style=" padding-left:10px;  background-color:#FFF4F0; border-style: solid;border-width: 5px; border-color:#00435C;border-radius: 5px; padding:5px; vertical-align: text-top;">
		<h3> New Ticket Created No :: <i> ${ticket.getA1_ticket_ticket_id()} </i></h3>
		  <hr>
		  Greetings <b> </b> <br>
		  New ticket has been created by : 
<i>
${staff}
</i> <br>
about :<br><i><b>
${ticket.getTitle()}
</b></i><br>
		<hr>
		for tracking updates click : 
		

Ticket link

		<a href="${baseUrl}a/itTicket/track/${ticket.getA1_ticket_ticket_id()}/">
Internal link
		</a> || 
		<a href="http://85.154.229.6:8080/a/itTicket/track/${ticket.getA1_ticket_ticket_id()}/">
External link
		</a>. 
		</td>
		<td>|</td>
		<td  width="50%" style=" padding-right:20px;  background-color:#FFF4F0; border-style: solid;border-width: 5px; border-color:#00435C; padding:5px; text-align:right;border-radius: 5px;direction:rtl;">
		<h3> تم إنشاء المذكرة رقم :: <i> ${ticket.getA1_ticket_ticket_id()} </i></h3>
		  <hr>
		  		
مرحبا<b></b>
<br>
لقد قام : 
<i>
${staff}
</i> <br>
 بإنشاء مذكرة جديدة حول 
 <br><i><b>
${ticket.getTitle()}
</b></i><br>
 لقسم تقنية المعلومات  
<br>

سيقوم الأخوة في القسم بمتابعتها وسيتم إرسال كل التحديثات لك فيما بعد 


 
<br>
<br>
<hr>
لمتابعة التحديثات إدخل على الرابط    <br>


رابط المذكرة 
		<a href="${baseUrl}a/itTicket/track/${ticket.getA1_ticket_ticket_id()}/">
الرابط الداخلي
		</a> || 
		<a href="http://85.154.229.6:8080/a/itTicket/track/${ticket.getA1_ticket_ticket_id()}/">
الرابط الخارجي
		</a>. 
		
		</td>
		</tr>
		</table>
		<hr>
			
			<p style="text-style:italic; font-size:x-small;" align="center">
			هذه رسالة تلقائية  | لأي أستفسار رجاء  التواصل مع  <a href="mailto:it@nfc.om"><b> قسم تقنية المعلومات</b></a>
			<br>
			This Email Auto-generated | For enquiries please contact with <a href="mailto:it@nfc.om"><b>IT Department</b></a>
			</p>
			
			<P style="text-style:italic; font-size:small;" align="center">
			بوابة الشركة الوطنية للعبارات
			<br>
			
			NFC Portal
			</P>

	</body>
 
</html>