<html>
<head>
<meta http-equiv="Content-Type" content="text/html;CHARSET=UTF-8">

</head>
	<body>
	<center>
	<img src="cid:rid1" >
	</center>


		
		
		<table style="background:#0078A3; text-align: center; " width="100%">
		<tr >
		<td width="50%" style="color:  #fff ;font-size: x-large;" > NFC Portal :: Welcome in Portal 
		</td> 
		

		<td width="50%"  style="color:  #fff ;font-size: x-large;">بوابة الشركة الوطنية للعبارات
		</td>
		
		</tr>
		</table>
		
		
		<table>
		<tr>
		<td  width="50%" style=" padding-left:10px;  background-color:#FFF4F0; border-style: solid;border-width: 5px; border-color:#00435C;border-radius: 5px; padding:5px;">
		
		<h3> Activate Account </h3>
		  <hr>
		  Greetings <br>
		  <b>${user.getName()}</b>
		  <br>
		   Welcome into  NFC Portal, your account registered in the portal. 
		   <br>
		   <hr>
		   Credential details  
		   Email  : ${user.getEmail()}
		   <br>
		   Password (Auto generated) : ${password}
		<br><br>
		Link : <a href="${baseUrl}"> Portal Link </a> 
		
		</td>
		<td>|</td>
		<td  width="50%" style=" padding-right:20px;  background-color:#FFF4F0; border-style: solid;border-width: 5px; border-color:#00435C; padding:5px; text-align:right;border-radius: 5px;">
		<h3> تفعيل الحساب </h3>
		  <hr>
		  		
السلام عليكم ، <br>
<b>${user.getName()}</b>
<br>

أهلا وسهلا بك في بوابة الشركة الوطنية للعبارات ، 
لقد تم تسجيل حسابك في  " بوابة الشركة الوطنية للعبارات " بنجاح . 
<br>
<br>
<hr>
تفاصيل الدخول  <br>

البريد الإلكتروني :  
<br>
${user.getEmail()}

<br><br>

كلمة المرور (مولدة آليا)  : 
<br>
${password}
<br>
<hr>
لتسجيل الدخول ، إضغط على رابط البوابة . 


<a href="${baseUrl}">
الرابط
		</a> 
		</td>
		</tr>
		</table>
		<hr>
			
			<p style="text-style:italic; font-size:x-small;" align="center">
			هذه رسالة تلقائية  | لأي أستفسار رجاء  التواصل مع  <a href="mailto:it@nfc.om"><b> قسم تقنية المعلومات</b></a>
			<br>
			This Email Auto-generated | For enquiries please contact with <a href="mailto:it@nfc.om"><b>IT Department</b></a>
			</p>
			
			<P style="text-style:italic; font-size:small;" align="center">
			بوابة الشركة الوطنية للعبارات
			<br>
			
			NFC Portal
			</P>

	</body>
 
</html>