<html>
<head>
<meta http-equiv="Content-Type" content="text/html;CHARSET=UTF-8">

</head>
	<body>
	<center>
	<img src="cid:rid1" >
	</center>


		
		
		<table style="background:#0078A3; text-align: center; " width="100%">
		<tr >
		<td width="50%" style="color:  #fff ;font-size: x-large;" > NFC Portal :: Welcome in Portal 
		</td> 
		

		<td width="50%"  style="color:  #fff ;font-size: x-large;">بوابة الشركة الوطنية للعبارات
		</td>
		
		</tr>
		</table>
		
		
		
		
		
		
		<table style=" background-color:#FFF4F0; ">
		<tr>
		<td  width="50%" style=" padding-right:20px;  background-color:#FFF4F0; padding:5px;  border-radius: 5px; ">
		
		<h3> Reset Password </h3>
		  <hr>
		  Greetings <b>${user} </b> <br>
		   We have receive request of forgetting this account password, 
		<br>
		Reset Code :
		
		</td>
		<td>|</td>
		<td  width="50%" style=" padding-right:20px;  background-color:#FFF4F0; padding:5px; text-align:right;border-radius: 5px;direction: rtl; ">
		<h3> إستعادة كلمة المرور </h3>
		  <hr>
		  		
مرحبا 
،
<b>${user}</b>
<br>

لقد استلمنا طلبا  بفقدانك كلمة المرور ، 
 <br>
 
 <br>
 شفرة الإستعادة :
 


		</td>
		</tr>
		<tr>
		<td colspan="3" style="text-align:center; font-weight: bold; border-style: solid;border-width: 5px; border-color:#00435C; " >${randString}</td>
		</tr>
		
		
		<tr>
		<td  width="50%" style=" padding-left:10px;  ">
		
		<hr>
		if you are not request this please inform us  : <a href="mailto:it@nfc.om">IT Department</a> 
		
		</td>
		<td>|</td>
		<td  width="50%" style=" padding-right:20px; text-align:right;">
		
<hr>
إذا لم تقم بهذا الطلب ، نرجو إبلاغنا 
 <a href="mailto:it@nfc.om">قسم تقنية المعلومات</a> 


		</td>
		</tr>
		</table>
		<hr>
			
			<p style="text-style:italic; font-size:x-small;" align="center">
			هذه رسالة تلقائية  | لأي أستفسار رجاء  التواصل مع  <a href="mailto:it@nfc.om"><b> قسم تقنية المعلومات</b></a>
			<br>
			This Email Auto-generated | For enquiries please contact with <a href="mailto:it@nfc.om"><b>IT Department</b></a>
			</p>
			
			<P style="text-style:italic; font-size:small;" align="center">
			بوابة الشركة الوطنية للعبارات
			<br>
			
			NFC Portal
			</P>

	</body>
 
</html>